/*
 * Dynamic style
 */

.section.orange {
    .bottle__label--name-title {
        color: #F99E36;
    }
}


/*
 * Static style
 */

section {
   position: relative;
   min-width: 100vw;
   height: 100vh;
   overflow: hidden;
   display: none;
}

.section--active {
   display: block;
}

.bottle__label {
    transform: translateY(18vh);
    width: 80vw;
    margin: 0 auto;
    padding: 20px 0 20px 20%;
    background-color: white;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.45);

    @media (min-width: $tablet) {
        width: 70vw;
        padding: 30px 0 40px 20%;
    }
}

.bottle__label--name {
    margin-bottom: 20px;
    line-height: 12vw;
    font-size: 9.5vw;
    font-family: 'CircularStd-Book', serif;
    text-transform: uppercase;
    color: $dark-blue;

    @media (min-width: $tablet) {
        font-size: 5.5vw;
        line-height: 7vw;
    }
}

.bottle__label--name-title {
    font-size: 12vw;
    font-family: 'CircularStd-Bold', serif;

    @media (min-width: $tablet) {
        font-size: 7vw;
    }
}

.bottle__label--button {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 4.1vw;
    font-family: 'CircularStd-Bold', serif;
    text-transform: uppercase;
    color: $dark-blue;
    padding: 10px 15px;
    border: 2px solid $dark-blue;
    transition: background .3s ease-out, color .3s ease-out, transform .3s ease-out;
    cursor: pointer;
    user-select: none;

    @media (min-width: $tablet) {
        font-size: 1.5vw;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        color: white;
        background-color: $dark-blue;
    }
}
