/*
 * Dynamic style
 */

.section.orange {
    .bottle__label--title {
        color: #F99E36;
    }

    .bottle__label--button {
        color: #F99E36;
        box-shadow: 0px 2px 4px 0px rgba(249, 158, 54, 0.5);

        &:hover {
            box-shadow: 0px 3px 8px 0px rgba(249, 158, 54, 0.5);
        }
    }

    .bottle__bio--title {
        color: #F99E36;
    }

    .bottle__bio--button a {
        color: #F99E36;
        box-shadow: 0px 2px 4px 0px rgba(249, 158, 54, 0.5);

        &:hover {
            box-shadow: 0px 3px 8px 0px rgba(249, 158, 54, 0.5);
        }
    }
}


/*
 * Static style
 */

section {
   position: relative;
   min-width: 100vw;
   min-height: 100vh;
   overflow: hidden;
   display: none;
}

.section--active {
   display: block;
}

.bottle__label {
    position: relative;
    transform: translateY(20vh);
    width: 80vw;
    margin: 0 auto;
    padding: 20px 0 20px 20%;
    background-color: white;
    box-shadow: 0px 1px 6px 0px #E0E0E0;
    transition: all 1s ease-out;

    @media (min-width: $desktop) {
        transform: translateY(18vh);
        width: 55vw;
        padding: 30px 0 40px 14%;
    }

    @media (min-width: $tablet) and (max-width: $desktop) {
        transform: translateY(18vh);
        width: 65vw;
        padding: 30px 0 40px 14%;
    }
}

.bottle__label--name {
    font-size: 8vw;
    letter-spacing: 0.01em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: $dark-blue;
    opacity: 1;
    transition: opacity .3s ease-out;

    @media (min-width: $desktop) {
        font-size: 4vw;
    }

    @media (min-width: $tablet) and (max-width: $desktop) {
        font-size: 6vw;
    }
}

.bottle__label--title {
    margin-bottom: 25px;
    margin-top: 5px;
    min-height: 40px;
    font-size: 10vw;
    letter-spacing: 0.01em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 1;
    transition: opacity .3s ease-out;

    @media (min-width: $desktop) {
        font-size: 6vw;
        min-height: 90px;
    }

    @media (min-width: $tablet) and (max-width: $desktop) {
        font-size: 8vw;
    }
}

.bottle__label--button {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 4.1vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 1000px;
    transition: transform .3s ease-out, opacity .3s ease-out, transform 0.2s, box-shadow 0.6s;
    cursor: pointer;
    user-select: none;
    opacity: 1;
    transition: all .3s ease-out;

    @media (min-width: $desktop) {
        font-size: 1.5vw;
        padding: 20px 35px;
    }

    @media (min-width: $tablet) and (max-width: $desktop) {
        font-size: 2.5vw;
        padding: 15px 25px;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1.07);
    }
}

.bottle__img {
    position: absolute;
    width: 37vw;
    transform: translateX(-62%) translateY(-14%) rotate(7deg);
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    left: 0;
    top: 0;

    @media (min-width: $desktop) {
        width: 22vw;
        transform: translateX(-69%) translateY(-16%) rotate(21.8deg);
    }

    @media (min-width: $tablet) and (max-width: $desktop) {
        width: 25vw;
        transform: translateX(-69%) translateY(-13%) rotate(8deg);
    }
}

.swiper {
    position: absolute;
    transform: translateY(60px) translateX(-30px);
    transition: opacity 0.1s;

    @media (min-width: $desktop) {
        transform: translateY(90px) translateX(-60px);
    }

    @media (min-width: $tablet) and (max-width: $desktop) {
        transform: translateY(80px) translateX(-30px)
    }
}

.swiper__circle--scale {
    position: absolute;
    width: 60px;
    height: 60px;
    transition: transform 0.4s;
    transform-origin: 50% 50%;
    border-radius: 100%;
    border: 1.8px dashed #666ADE;


  @media (min-width: $tablet) {
    width: 85px;
    height: 85px;
    border: 2px dashed #666ADE;
  }

    &:hover, &:active {
        transform: scale(0.9);
    }

}

.swiper__circle--rotate {
    width: 60px;
    height: 60px;
    transition: transform .9s ease-out, left 0.15s;
    cursor: pointer;
    animation: 5s dragButton infinite linear;
    border: none;

    @media (min-width: $tablet) {
        width: 85px;
        height: 85px;
    }

    &:hover + .swiper__arrow--container::after {
        display: block;
        animation: hoverArrow 0.4s ease-out 0.2s;
    }
}

.swiper__arrow--container::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    background: white;
    bottom: 23%;
    opacity: 0;
    display: none;
}

.swiper__circle--centerCircle {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 10px;
    height: 10px;
    border: 2px solid #666ADE;
    border-radius: 100%;
    margin: -5px 0 0 -5px;
    transition: transform 0.2s;


  @media (min-width: $tablet) {
        width: 15px;
        height: 15px;
        border: 3px solid #666ADE;
        left: 42px;
        top: 42px;
        margin: -7px 0 0 -7px;
    }
}

.swiper__arrow {
    width: 120px;
    margin-top: 23px;
    margin-left: 85px;
    position: relative;

    @media (min-width: $tablet) {
        width: 180px;
        margin-top: 30px;
        margin-left: 120px;
    }
}


@keyframes dragButton {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(180deg);
    }
}

@keyframes hoverArrow {
    0% {
      left: 35%;
      height: 4px;
      bottom: 23%;
      opacity: 1;
    }
    80% {
      height: 25px;
      left: 90%;
      bottom: 0%;
    }
    100% {
      height: 25px;
      left: 100%;
      bottom: 0%;
      opacity: 1;
    }
}
