//global for waves
.waves {
    position: absolute;
    width: 100%;
    bottom: -50px;
    left: 0;

    .wave {
        position: absolute;
        width: 200vw;
        top: -130px;
        left: 0;

        @media screen and (orientation: portrait)  {
              & {
                height: 80px;
              }
          }

        &.first {
            animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            z-index: 2
        }

        &.second {
            top: -140px;
            animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.25s infinite, swell 7s ease -1.25s infinite;
            z-index: 1;
        }
    }
}
@keyframes wave {
      from   {margin-left: 0}
      to {margin-left: -100vw}
}

@keyframes swell {
      0%, 100% {transform: translate(0,0px);}
      50%      {transform: translate(0,10px);}
}


// Section settings
#landingSection{
    .waves{

        .first{
            fill : #FFA500;
        }

        .second{
            fill : #e59400;
        }
    }
}

#firstBottle{
    background: #FFA500;


    .waves{

        .first{
            fill : #8A2BE2;
        }

        .second{
            fill : #601e9e;
        }
    }
}

#secondBottle{
    background: #8A2BE2;


    .waves{

        .first{
            fill : #E50000;
        }

        .second{
            fill : #ce0000;
        }
    }
}

#thirdBottle{
    background: #E50000;


    .waves{

        .first{
            fill : #ffffff;
        }

        .second{
            fill : #9eb6cb;
        }
    }
}
