//global for waves
.waves{
    position: absolute;
    width: 100vw;
    bottom: -50px;
    left: 0;
}
.waves__waveFirst, .waves__waveSecond{
    position: absolute;
    width: 200vw;
    top: -130px;
    left: 0;
    will-change: transform;
}

.waves__waveFirst{
    animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    z-index: 2;
    fill : #FFA500;
}

.waves__containerWaveSecond{
    animation: swell 7s ease -1.25s infinite;
    will-change: transform;
}

.waves__waveSecond{
    top: -140px;
    animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.25s infinite;
    z-index: 1;
    fill : #e59400;
}

@keyframes wave {
      from   { transform: translate(0)}
      to     { transform: translate(-100vw)}
}

@keyframes swell {
    0%, 100% {transform: translate(0,0px);}
    50%      {transform: translate(0,10px);}
}
