.bubbles{
   height: 100vh;
   width: 100vw;
   position: fixed;
}

.bubble {
   position: absolute;
   border-radius: 50%;
   bottom: -10px;
   animation: bulleAnim infinite linear;
   transition: background 1s;
   will-change: transform;
}

@keyframes bulleAnim {
   0% {
      opacity: 0;
      transform: translate(0,0);}
   10% {opacity: 1}
   20% {transform: translate(-20px,-20vh); }
   40% {transform: translate(20px,-40vh); }
   60% {transform: translate(-20px,-60vh); }
   80% {transform: translate(20px,-80vh); }
   90% {
      opacity: 1;
      transform: translate(20px,-95vh); }
   100% {
      opacity: 0;
      transform: translateY(-105vh) translateX(-20px);
   }
}


.bubbles__color--accueil, .bubbles__color--orange {
   background: #F99E36;

   .bulle {
      background: #FBC17F;
   }
}

.bubbles__color--orange {
    background: white;

    .bulle {
       background: #FBC17F;
    }
}

.bubbles__color--citron-frappe {
    background: white;

    .bulle {
       background: #fbeb7f;
    }
}

.bubbles__color--fraise-kiwi {

   .bulle{
      background: #E31F33;
   }
}

.bubbles__color--ananas-citron {

   .bulle {
      background: #FCE38B;
   }
}

.bubbles__color--pomme-cerise {

   .bulle {
      background: #F68987;
   }
}

.bubbles__color--exotique {

   .bulle {
      background: #FEC768;
   }
}

.bubbles__color--cassis {

   .bulle {
      background: #C36E88;
   }
}

.bubbles__color--peche-abricot {

   .bulle {
      background: #FFDB7F;
   }
}

.bubbles__color--framboise-passion {

   .bulle {
      background: #E08C97;
   }
}
