#firstBottle {
    background: #3E85BA;
    
    .waves .first {
        background: url("../img/wave4.svg") repeat-x;
    }
    
    .waves .second {
        background: url("../img/wave3.svg") repeat-x;
    }
}