.section_home__logo {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);

    @media (min-width: $tablet) {
        width: auto;
    }
}

.section_home__logo-img {
    width: 90%;

    @media (min-width: $tablet) {
        width: 540px;
    }
}

.section_home__logo-title {
    position: absolute;
    bottom: 15%;
    left: 26%;
    background-color: #79BE23;
    color: white;
    font-size: 4.5vw;
    padding: 5px 15px;
    transform: rotate(-7deg);
    font-family: 'FantaPlayful', serif;

    @media (min-width: $tablet) {
        font-size: 35px;
        left: 20%;
    }
}
