#landingSection {
    position: relative;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(#B7E8EB 0%, rgba(255,254,234,1) 65%, rgba(255,254,234,1) 100%);
    
    .waves .first {
        background: url("../img/wave2.svg") repeat-x;
    }
    
    .waves .second {
        background: url("../img/wave1.svg") repeat-x;
    }
}