#secondBottle {
    background: #ffffff;
    
    .waves .first {
        background: url("../img/wave2.svg") repeat-x;
    }
    
    .waves .second {
        background: url("../img/wave1.svg") repeat-x;
    }
}