body {
    background-color: white;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*
 * Fix class
 */

.body {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.smoothScroll-wrapper {
    transition: transform 0.8s ease-in-out;
    will-change: transform;
}

img, svg {
    user-drag: none;
    user-select: none;
}
