body {
    background-color: white;
    overflow: hidden;
}

/*
 * Fix class
 */

.body {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.smoothScroll-wrapper {
    transition: transform 0.8s ease-in-out;
    will-change: transform;
}
