body {
    background-color: white;
    overflow: hidden;
}

/*
 * Define title size
 */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

/*
 * Fix class
 */

.overflow-body-fix-for-iphone {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.smoothScroll-wrapper {
    transition: transform 0.8s ease-in-out;
    will-change: transform;
}
