@font-face {
    font-family: 'FantaPlayful';
    src: url('../fonts/FantaPlayful-Regular.ttf');
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.otf');
    font-weight: 700;
}
