@font-face {
    font-family: 'FantaPlayful';
    src: url('../fonts/FantaPlayful-Regular.ttf');
}

@font-face {
    font-family: 'CircularStd';
<<<<<<< HEAD
    src: url('../fonts/CircularStd.otf');
=======
    src: url(/fonts/CircularStd.otf);
>>>>>>> 7a8cae6a43e71fcd98a84c2d96f7506cc745e904
    font-weight: 400;
}

@font-face {
<<<<<<< HEAD
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.otf');
=======
    font-family: 'CircularStd-Book';
    src: url(/fonts/CircularStd-Book.otf);
>>>>>>> 7a8cae6a43e71fcd98a84c2d96f7506cc745e904
    font-weight: 500;
}

@font-face {
<<<<<<< HEAD
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.otf');
=======
    font-family: 'CircularStd-Bold';
    src: url(/fonts/CircularStd-Bold.otf);
>>>>>>> 7a8cae6a43e71fcd98a84c2d96f7506cc745e904
    font-weight: 700;
}
