{
  "extends": "airbnb-base",
  "rules": {
    "semi": [2, "never"],
    "no-console": 0,
    "comma-dangle": ["error", "always"],
    "prefer-template": "error"
  },
  "globals": {
    "document": true,
    "window": true,
    "navigator": true
  }
}
